/.gradle/
/build/

# Project exclude paths
/Problems/Boxes/out/
/Problems/Boxes/out/production/classes/
/Problems/Count the numbers/out/
/Problems/Count the numbers/out/production/classes/
/Problems/Fizz Buzz/out/
/Problems/Fizz Buzz/out/production/classes/
/Problems/Good rest on vacation/out/
/Problems/Good rest on vacation/out/production/classes/
/Problems/Maximum element divisible by 4/out/
/Problems/Maximum element divisible by 4/out/production/classes/
/Problems/Queens/out/
/Problems/Queens/out/production/classes/
/Problems/Sequence/out/
/Problems/Sequence/out/production/classes/
/Problems/The eternal truth/out/
/Problems/The eternal truth/out/production/classes/
/Problems/The Hello World program/out/
/Problems/The Hello World program/out/production/classes/
/Problems/The information about a person/out/
/Problems/The information about a person/out/production/classes/
/Problems/The longest sequence/out/
/Problems/The longest sequence/out/production/classes/
/Problems/The number of tens/out/
/Problems/The number of tens/out/production/classes/
/Problems/The product of numbers from a to b/out/
/Problems/The product of numbers from a to b/out/production/classes/
/Problems/The sequence 1 2 2 3 3 3/out/
/Problems/The sequence 1 2 2 3 3 3/out/production/classes/
/Problems/The sum of elements/out/
/Problems/The sum of elements/out/production/classes/
/Problems/Vowel or not/out/
/Problems/Vowel or not/out/production/classes/
/Problems/Within a range/out/
/Problems/Within a range/out/production/classes/
/Problems/Within both ranges/out/
/Problems/Within both ranges/out/production/classes/
/Simple Chatty Bot/task/build/
/Simple Chatty Bot/task/out/
/Simple Chatty Bot/task/out/production/classes/
/Simple Chatty Bot/task/out/test/classes/